@import url('https://fonts.googleapis.com/css2?family=Georama&display=swap');
.jumbotron{
  
  background: 
  linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1) ),
  url(https://source.unsplash.com/1600x1050/?nature);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color:white !important;
  background-size: cover;
}

 
  
  .btn-outline-danger{
    color:white;
    border-color:white;
    border-radius:0px;
    font-weight:100;
    margin-top:20px;
  }
  .lead{
    font-family:raleway;
    font-weight:100;
    margin-top:-10px;
  }
  .darken {
    background: #000;
    background-blend-mode: screen;
  }

  section {
    scroll-snap-align: center;
  }

//scroll snap
html {
  scroll-snap-type: y mandatory;
}
header, section, nav {
  scroll-snap-align: start;
}
body {
  font-family: 'Georama', sans-serif;
}
@media only screen and (max-width: 600px) {
  .display-1 {
    font-size: 2.2rem
  }
  .display-3 {
    font-size: 2.3rem
  }
}
@media only screen and (min-width: 601px) {
  .display-1 {
    font-size: 4rem
  }
  .display-3 {
    font-size: 3.5rem
  }
}
@media only screen and (min-width: 991px) {
  .display-1 {
    font-size: 6rem
  }
  .display-3 {
    font-size: 4.5rem
  }
}
