
.jumbotron{
  background: 
  linear-gradient(
    rgba(0, 0, 250, 0.25), 
    rgba(125, 250, 250, 0.45)
  ),
  url(https://source.unsplash.com/1600x1050/?nature);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color:white !important;
  background-size: auto;
}
@media only screen and (min-width: 1600px) {
  body {
    .jumbotron{
      background: 
      linear-gradient(
        rgba(0, 0, 250, 0.25), 
        rgba(125, 250, 250, 0.45)
      ),
      url(https://source.unsplash.com/1600x1050/?nature);
      background-repeat: no-repeat;
      background-attachment: fixed;
      color:white !important;
      background-size: 100%;
    }
  }
}
.jumbotron{
  background: 
  linear-gradient(
    rgba(0, 0, 250, 0.25), 
    rgba(125, 250, 250, 0.45)
  ),
  url(https://source.unsplash.com/1600x1050/?nature);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color:white !important;
  background-size: auto;
}
  
  .page-scroll{
    height:5000px;
  }
  
  .btn-outline-danger{
    color:white;
    border-color:white;
    border-radius:0px;
    font-weight:100;
    margin-top:20px;
  }
  .lead{
    font-family:raleway;
    font-weight:100;
    margin-top:-10px;
  }
  .darken {
    background: #000;
    background-blend-mode: screen;
  }
  .nav {
    z-index: 0 
  }
  